# Canonical identity for this project's sole human author.
#
# This public repository was created on 2026-09-17 from a single export of the private
# development history (BootstrapAI-mgmt/thermal-mesh-calculators-private), so its own log
# carries no human commits yet. The private history holds two git identities for the same
# natural person; the mappings below keep future history consistent. The captechu.edu
# address was an account-selection artifact only: none of the work originated from, or
# relates to, that institution or any academic programme. Copyright is held by
# BootstrapAI-mgmt (decision D8); commit-author metadata does not convey the copyright grant.
# Confirmed by the owner (Josh Coleman), 2026-09-16, decision D24.
Joshua Coleman <jpcoleman12@gmail.com> jpcolema <jcoleman@captechu.edu>
Joshua Coleman <jpcoleman12@gmail.com> Joshua Coleman <bsaipersonal@gmail.com>
